@import "../../styles/global";
@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);

    padding-bottom: 30px;

    @include breakpoint(tablet){
        grid-template-columns: 1fr 3fr 1fr ;
        grid-template-rows: auto;
    }

    .dateContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

    }

    .linksContainer {
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-around;
        align-items:center;
        // flex-flow: column;
        margin: 10px 0px;

        @include breakpoint(tablet){
            grid-column: 3;
            flex-flow: row;
            justify-content: space-between;
        }

        a {
            text-align: center;
            display: inline-block;
            font-family: "Baron Neue", Arial, Helvetica, sans-serif;
        }
    }

}