@import "./typography";
@import "./variables";
@import "./mixins";


.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.content__container {
    width: 90vw;
    margin: 0 auto;

    @include breakpoint(tablet){
        width: 70vw;
    }

    @include breakpoint(tablet-ls){
        width: 80vw;
    }

    @include breakpoint(desktop-wide){
        width: 1300px;
    }
}


.title{
    font-family: "Baron Neue", Arial, Helvetica, sans-serif;
    font-size: 28px;

    @include breakpoint(tablet){
        font-size: 35px;
    }

    @include breakpoint(desktop-wide){
        font-size: 55px;
    }
}

.subtitle {
    color: $secundaryColor;
    font-family: "Baron Neue", Arial, Helvetica, sans-serif;

    @include breakpoint(tablet){
        font-size: 18px;
    }
    

}