@import 'variables';

// Breakpoints
@mixin breakpoint($point, $value: 0) {

	@if $point == mobile {
		@media (min-width: $breakpoint_mobile) { @content; }
	}

	@else if $point == mobile-ls {
		@media (min-width: $breakpoint_mobile_landscape) { @content; }
	}

	@else if $point == tablet {
		@media (min-width: $breakpoint_tablet) { @content; }
	}

	@else if $point == tablet-ls {
		@media (min-width: $breakpoint_tablet_landscape) { @content; }
	}
	
	@else if $point == desktop {
		@media (min-width: $breakpoint_desktop) { @content; }
	}

	@else if $point == desktop-wide {
		@media (min-width: $breakpoint_desktop_wide) { @content; }
	}

	@else if $point == desktop-xwide {
		@media (min-width: $breakpoint_desktop_xwide) { @content; }
	}

	@else {
		@media ($point: $value) { @content; }
	}
}

@mixin between-breakpoints($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin letter-spacing($spacing) {
	letter-spacing: ($spacing / 1000) * 1em;
}

// Vertical center until block height
// https://medium.com/@SteelKiwiDev/vertical-centering-until-the-block-reaches-specified-height-ea2e985f461
@mixin vertical-center($height, $vertical-wrapper) {
	white-space: nowrap;
	overflow: hidden;
	&:after {
		content:"";
		width: 0;
		height: $height;
		display: inline-block;
		vertical-align: middle;
	}
	#{$vertical-wrapper} {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
		word-break: break-word;
	}
}