$breakpoint_mobile: 320px;
$breakpoint_mobile_landscape: 480px;
$breakpoint_tablet: 768px;
$breakpoint_tablet_landscape: 1024px;
$breakpoint_desktop: 1280px;
$breakpoint_desktop_wide: 1500px;
$breakpoint_desktop_xwide: 1940px;

// Colors
$primaryColor: #1C3682;
$secundaryColor: #AA5042;

//BackgroundColors
$articleGradient: linear-gradient(#0F141D, #000000);

// Shadow
$basic-shadow: 0px 3px 10px rgba(145,145,145,50);

// Padding


//fonts
